@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$primary-color: rgb(46, 58, 122);
$secondary-color: blue;
$text-secondary: #9c9c9c;
$box-shadown: rgba(10, 22, 70, 0.1) 0px 1px 1px 0px,
  rgba(10, 22, 70, 0.06) 0px 0px 1px 0px,
  rgba(5, 15, 54, 0.16) 0px 28px 70px -7px;

body {
  font-family: "Lato", sans-serif;
}

.inner-container {
  padding: 8px;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 0 6px -2px $primary-color;
  border-radius: 16px;
  overflow: hidden;
}

#about-me {
  width: 280px;
  background-color: $primary-color;

  h1 {
    color: white;
    font-weight: bold;
    font-size: 32px;
  }

  p {
    color: $text-secondary;
  }

  h3.subtitle {
    color: white;
    font-size: 24px;
    margin-top: 24px;
  }

  .avatar {
    display: flex;
    margin: 24px 0;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url("/img/rafa.png");
    background-size: cover;
    background-position: center;
    box-shadow: 1px 0 3px 1px black;
    border: 3px solid $primary-color;
  }

  .contact {
    i {
      color: white;
      margin-right: 8px;
    }

    a {
      color: $text-secondary;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        color: white;
      }
    }
  }

  .location {
    i {
      color: white;
      margin-right: 8px;
    }

    span {
      color: white;
    }
  }

  .formation {
    h5 {
      color: white;
      font-size: 18px;
      margin: 0;
    }
    p {
      margin: 0;
    }
  }

  .language {
    margin-bottom: 32px;
    p {
      color: white;
      margin: 0;

      span {
        color: $text-secondary;
      }
    }
  }
}

#works-experiences {
  padding: 32px;

  h2 {
    color: $primary-color;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .experiences {
    margin-top: 40px;

    h3 {
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      margin: 0;
    }

    span {
      float: right;
      color: $text-secondary;
    }

    h4 {
      font-size: 16px;
      color: $text-secondary;
    }
  }
}

.skills {
  margin-top: 40px;

  h3 {
    font-size: 20px;
    margin: 8px 0px;
  }

  .item {
    display: grid;
  }

  .progress-bar {
    background-color: $primary-color;
  }
}

.projects {
  margin-top: 40px;

  .projects-card {
    .projects-card-inner {
      display: inline-block;
      border-radius: 20px;
      margin-top: 40px;
      transition: 0.3s ease;
      overflow: hidden;
      box-shadow: $box-shadown;

      .photo {
        height: 250px;
        background-size: cover;
        background-position: center top;
        padding: -20px;
      }

      .projects-card-container {
        padding: 20px 30px;

        .btn-site {
          background-color: $primary-color;
          padding: 8px 16px;
          border-radius: 32px;
          color: white;
          text-decoration: none;
          border: 2px solid $primary-color;
          font-weight: bold;
          transition: 0.3s ease;

          &:hover {
            background-color: white;
            color: $primary-color;
          }
        }
      }
    }
  }
}

.courses {
  margin-top: 40px;

  h5 {
    margin: 0;
    display: inline-block;
  }

  span {
    float: right;
    color: $text-secondary;
  }

  p {
    color: $text-secondary;
  }
}
